body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu', sans-serif
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

#searchBar {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

#songUpload {
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}


.file-upload {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333; /* Dark background */
    color: white; /* Text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background-color: #555; /* Darker background on hover */
}

.file-upload input[type="file"] {
    display: none; /* Hide the default file input */
}

.brand img{
    width: 45px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 64.4vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 68%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 32px;
    background-image: url(img/img-1.jpg);
    background-size: cover;

}

.bottom{
    position: sticky;
    height: 85px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.progress-container{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#currentTime, #totalDuration {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

#myProgressBar{
    width: 80%;
    height: 3.5px;
    cursor: pointer;
    margin: 0 10px;
}

.icons{
    display: flex;
    margin: 2px;
    align-items: center;
}
i{
    margin: 10px;
}
#myProgressBar{
    width: 70vw;
    height: 3.5px;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 40px;
}

.songItem{
    height: 50px;
    width: 80%;
    display: flex;
    background-color: white;
  
    color: black;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 40px;
    height: 40px;
    margin: 0 23px;
    border-radius: 40px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 15vw;
    font-family: sans-serif;
    margin-top: -40px;
    color: white;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;  
    margin: 0 -47px -32px; 
}
